<div class="page-header">
  <h1>Totes getting married!</h1>
</div>
<ul class="nav nav-pills">
  <li><%= link_to "Venue and Directions", venue_path %></li>
</ul>

<%= form_tag ruby_wedding.find_invitations_path, method: :get do %>
RSVP! Enter your surname:
<%= text_field_tag :surname %>
<%= submit_tag %>
<% end %>