<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1><span class="bigword">Frances Abigail McKenna <span class="amp">&amp;</span></span> <span class="bigword">Chris Stainthorpe</span></h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Baltic Centre for Contemporary Art • October 11th 2014</p>
      </div>
    </div>
    <div class="row">
      <%= form_tag ruby_wedding.find_invitations_path, method: :get, class: 'form-inline' do %>
        <div class="form-group col-md-3">
          <label class="control-label sr-only" for="surname">Enter your surname:</label>
            <%= text_field_tag :surname, "", class: 'form-control input-lg',  placeholder: "Your surname", style: "width: 100%" %>
        </div>
        <%= submit_tag "RSVP", class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
